body {
    background-color: rgb(69, 125, 174);
    cursor: url(./images/gesicht.png), auto;

}



#text {
    display: flex;
    flex-direction: row;
}

.ele {
    width: 50vw;
    background-color: rgb(176, 224, 228);
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 90px;
    font-family: Praise;
    color: rgb(69, 125, 174);
    text-decoration: none;

}


.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; ??? */


}


img {
    width: 300px;
    margin: 20px;
}

img:hover {
    transform: scale(1.1);
}


/* transiton:background-color */

/*@media (orientation: potrait) {

#hahn{

width: 100vw;

}



cursor:url(./),auto



*/

@font-face {
    font-family: Praise;
    src: url(./fonts/Praise-Regular.ttf);
}