body {
    overflow: hidden;
    background-color: rgb(69, 125, 174);
    cursor: url(../images/gesicht.png), auto;

}

#frame_container {


    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame {

    height: 100vh;

}